<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="{{ url_for('static', filename='admin/component/pear/css/pear.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='admin/admin/css/other/error.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <div class="content-r">
        <h1>404</h1>
        <p>Sorry，There is nothing</p>
        <button class="pear-btn pear-btn-primary">Back to Index</button>
    </div>
</div>
</body>
</html>
